Source: openjabnab
Section: misc
Priority: optional
Maintainer: Arnaud Patard <arnaud.patard@rtp-net.org>
Build-Depends: debhelper (>= 11), qtbase5-dev, po-debconf
Standards-Version: 4.3.0
Homepage: http://www.openjabnab.fr
Vcs-Browser: https://github.com/thertp/OpenJabNab.git

Package: openjabnab
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ucf
Description: Nabaztagtag OpenJabNab server - daemon
 An open PHP/C++-based proxy framework for the Nabaztag/Tag electronic
 pet with jabber protocol.
 .
 Nabaztag is a trade mark of Violet. OpenJabNab is not owned by or
 affiliated with Violet.
 .
 This package is providing the openjabnab daemon.

Package: openjabnab-web
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openjabnab, ucf
Recommends: apache2 | nginx, php-xml
Description: Nabatagtag OpenJabNab server - web server
 An open PHP/C++-based proxy framework for the Nabaztag/Tag electronic
 pet with jabber protocol.
 .
 Nabaztag is a trade mark of Violet. OpenJabNab is not owned by or
 affiliated with Violet.
 .
 This package is providing the openjabnab web interface.

